<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DataProvider Suite">
  <test thread-count="5" name="Dataprovider Test Case">
    <classes>
      <class name="Parameterization.WifiSettings"/>
    </classes>
  </test> <!-- Dataprovider Test Case -->
</suite> <!-- DataProvider Suite -->
